:root {
    --primary-color: #00E8FC; /*Electric Blue */
    --secondary-color: #F9C846; /* Saffron */
    --accent1-color: #F96E46;  /* Burnt Sienna*/
    --accent2-color: #FFFFFF;  /* White */
    --heading-font: "Righteous", sans-serif;
    --body-font: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    text-decoration: none;
}

.hero {
    position:relative;
}

.hero img {
    display: block;
    width: 100%;
    height:auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    right: 50px;
    bottom: 2.5px;         /* tuck it up 50px from the bottom of the hero */
    width: 300px;
    background-color: var(--accent1-color);
    opacity: 0.7;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;  

}

.hero article img {
    float: right;
    width: 125px    ;
}