
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: inherit;
    font-size: medium;
    padding: 10px;

}

header, h1 {
    font-family: inherit;
    font-size: 100%;
    color: blue;
    margin: 20px;
}

form {
    width: max-content;
    margin: 20px;
    padding: 25px;
    border: 20px;
    background-color: lightgrey;
    display: grid;
    border-radius: 0.5rem;
}

fieldset {
    display: grid;
    grid-gap: 4.5px;
    padding: 1rem;
    margin: 1rem;
}

legend {
    font-family: inherit;
    padding: 1rem;
}

footer {
    padding: 20px;
}

input {
    padding: 10px;
}